<!--Embed the header.gohtml template at this location-->
{{ template "header.gohtml" .}}

<p>hello admin</p>
<!--todo add the buttons for clearing cache and other stuff like promoting-->

<!--Embed the footer.gohtml template at this location-->
{{ template "footer.gohtml" .}}