<!DOCTYPE html>
<html lang="en">
<head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="description" content="{{ .description }}">

    <link rel="icon"
          type="image/png"
          href="https://decafans.com/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="120x120" href="/static/DecaFans-smaller.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/DecaFans-big.png" />

    {{$image:=coalesce .image .logo}}
    <meta property="og:site_name" content="DecaFans">
    <meta name="theme-color" content="#dcfbc9">
    <meta property="og:image" content="{{$image}}"/>

    <meta property="og:title" content="{{ .title }}">
    <meta property="og:description" content="{{ .description }}">
    <meta property="og:url" content="{{ .url }}">

    {{if .image}}
    <meta name="twitter:card" content="summary_large_image">
    {{else}}
    <meta name="twitter:card" content="summary">
    {{end}}
    <meta property="twitter:title" content="{{ .title }}">
    <meta property="twitter:description" content="{{ .description }}">
    <meta property="twitter:image" content="{{$image}}">
    <meta property="twitter:url" content="{{ .url }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/bulma-prefers-dark@0.1.0-beta.0/css/bulma-prefers-dark.css"/>
    <!--    https://unpkg.com/bulma-prefers-dark-->

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script defer src="/static/menuToggle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <style>
        .icon {
            vertical-align: middle;
            display: inline-table;
        }
        .userImage {
            margin-right: .3em;
        }
    </style>
</head>

<body>
<div class="container">
    {{ template "navbar.html" . }}
