<!DOCTYPE html>
<html lang="en">
<head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="description" content="{{ .description }}">

    <link rel="icon"
          type="image/png"
          href="https://decafans.com/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="true"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/static/DecaFans-smaller.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/DecaFans-big.png"/>

    {{$image:=coalesce .image .logo}}
    <meta property="og:site_name" content="DecaFans">
    <meta name="theme-color" content="#dcfbc9">
    <meta property="og:image" content="{{$image}}"/>

    <meta property="og:title" content="{{ .title }}">
    <meta property="og:description" content="{{ .description }}">
    <meta property="og:url" content="{{ .url }}">

    {{if .image}}
        <meta name="twitter:card" content="summary_large_image">
    {{else}}
        <meta name="twitter:card" content="summary">
    {{end}}
    <meta property="twitter:title" content="{{ .title }}">
    <meta property="twitter:description" content="{{ .description }}">
    <meta property="twitter:image" content="{{$image}}">
    <meta property="twitter:url" content="{{ .url }}">

    <link rel="alternate" type="application/json+oembed"
          href="https://decafans.com/api/v1/oembed?url={{ .url | urlquery }}&format=json"
          title="{{ .title }}"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://decafans.com/api/v1/oembed?url={{ .url | urlquery }}&format=xml"
          title="{{ .title }}"/>

    <link rel="stylesheet" href="/static/css/main.css">

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput/dist/css/bulma-tagsinput.min.css"/>
    <script async src="/static/default.js">
        last = sessionStorage.getItem("currentPage");
        curr = window.location.pathname
        sessionStorage.setItem("currentPage", curr);
        if (last && last !== curr)
            sessionStorage.setItem("lastPage", last);
    </script>
</head>

<body>
<div class="container">
    {{ template "navbar.gohtml" . }}
