{{ template "header.html" .}}

{{ define "pagination" }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous is-invisible">Previous</a>
    <a class="pagination-next is-invisible">Next page</a>
    <ul class="pagination-list">

    </ul>
</nav>
{{end}}

<section class="section">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                {{$privlage:=false}}
                {{ if .user}}
                {{$privlage:=.user.PostingPrivilege}}
                {{end}}
                {{ if coalesce $privlage true }}
                <a class="button is-info mb-2" href="/leaks/create">
                    New Leak
                </a>
                {{end}}
            </div>
        </div>

        <div class="level-right">
            <div id="amountDropdown" class="dropdown level-item">
                <div class="dropdown-trigger">
                    <button id="dropButton" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span id="dropDownText">All leaks</span>
                        <span class="icon is-small">
                            <ion-icon class="ion-ionic" name="chevron-down-outline" aria-hidden="true"></ion-icon>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            Leaks per page
                        </div>
                        <hr class="dropdown-divider">
                        <div id="leakAmounts">

                        </div>
                    </div>
                </div>
            </div>
            <!--todo search bar here-->
        </div>
    </div>

    {{template "pagination"}}
    <div class="columns is-vcentered is-multiline is-centered is-hidden" id="leakItems">
        {{range .payload}}
        <div class="column">
            <div class="box">
                <article class="media">
                    {{ if .ImageUrl}}
                    <figure class="media-left">
                        <a class="image is-128x128" href="/leaks/leak/{{.ID}}">
                            <img src="{{.ImageUrl}}" alt="Leak Image..." loading="lazy">
                        </a>
                    </figure>
                    {{end}}
                    <div class="media-content" style="min-width: 170px;">
                        <div class="content">
                            <a href="/leaks/leak/{{.ID}}">{{.Summary | replace "\n" "<br>" | unescape}}</a>
                        </div>
                    </div>
                </article>
                <div class="level is-size-7">
                    <div class="level-left">
                    </div>
                    <div class="level-right">
                        <figure class="level-item is-hidden-mobile">
                            <div>
                                <a href="/u/profile/{{.ReporterUid}}">
                                    <p class="level is-size-6">
                                        {{- $user := getUser .ReporterUid -}}
                                        <span class="level-left">
                        <span class="image is-32x32 userImage">
                            <img class="level-item is-rounded" src="{{$user.AvatarUrl}}"
                                 alt="{{$user.Username}}'s avatar" loading="lazy">
                        </span>
                        </span>
                                        <span class="level-right">
                                <span class="level-item">{{$user.Username}}#{{$user.UserDiscriminator}}</span>
                            </span>
                                    </p>
                                </a>
                                <time datetime="{{.LeakTime}}"></time>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{template "pagination"}}
</section>

<script>
    const articlesAmount = {{ .amount }}
    let currPage = {{ .page }}
</script>

<script src="/static/convertTime.js"></script>
<script async src="/static/pageJS/leakList.js"></script>

{{ template "footer.html" .}}
