<nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- todo add url of site below with deca banner -->
        <a class="navbar-item" href="/">
            <img src="/static/DecaLeaks-banner.png" width="104" height="20" alt="DecaFans banner icon">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/official">
                Official news
            </a>
            <a class="navbar-item" href="/leaks">
                Leaks
            </a>
        </div>

        <div class="navbar-end">
            {{ if .is_logged_in }}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/u/profile/{{.user.UID}}">
                    <span class="level">
                        <span class="icon level-item {{- /* is-medium its stretched :/ */}}">
                            <img class="is-rounded" src="{{ .user.AvatarUrl }}?size=64" width="64" height="64">
                          </span>
                        <span class="level-item">{{.user.Username}}</span>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/u/profile/{{.user.UID}}">
                        {{.user.Username}}#{{ .user.UserDiscriminator }}
                    </a>
                    <a class="navbar-item" href="/leaks/create">
                        Create Leak
                    </a>
                    {{ if (ge .user.AuthLevel 2)}}
                    <a class="navbar-item" href="/admin/dashboard">
                        Administrate
                    </a>
                    {{end}}
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/u/logout">
                        logout
                    </a>
                </div>
            </div>
            {{end}}
            {{ if not .is_logged_in }}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/u/login">
                        <span class="icon-text">
                        <span class="icon has-text-dark">
                            <ion-icon class="ion-ionic" name="logo-discord"></ion-icon>
                          </span>
                        <span>Log in</span>
                        </span>
                    </a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</nav>