<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<script defer src="/static/leakPostFunctions.js"></script>

{{$linkLess := .linkLessAuthLevel }}

{{if .publishSuccess}}
<div class="notification is-success">
    <p class="title">Success</p>
    <p>your leak can now be found at <a href="{{.payload.leakUrl}}">{{.payload.leakId}}</a></p>
</div>
{{end}}
{{if .errorPublishing}}
<div class="notification is-warning">
    <p class="title">Error!</p>
    <p>something went wrong :/</p>
    {{/* maybe bring back values */}}
</div>
{{end}}

<div class="columns is-centered">
    <div class="column is-half">
        <div class="box is-info has-text-centered">
            <fieldset>
                <div class="field">
                    <label class="label">Leak Description</label>
                    <div class="control">
                        <textarea id="leak" name="leak" class="textarea"
                                  placeholder="Description of leak, be as descriptive as you want" required></textarea>
                    </div>
                    <p class="help">supports <a href="https://www.bbcode.org/reference.php" target="_blank" rel="noopener">bbcode</a></p>
                </div>

                <div class="field">
                    <label class="label">Source Link</label>
                    <div class="control">
                        <input id="link" name="link" class="input" type="url" placeholder="Link to the leak in the chat"
                               required>
                    </div>
                    {{ if ge .user.AuthLevel $linkLess }}
                    <p class="help">As a {{.user.AuthLevel | authLevelName}} you dont need a source, but make sure
                        you add one somewhere</p>
                    {{end}}
                    <p class="help" id="linkInfo"></p>
                    <span class="icon is-hidden-touch has-tooltip-multiline" data-tooltip="Right click on a Discord message and click &quot;Copy Message Link&quot;">
                        <ion-icon class="ion-ionic" name="help-circle-outline"></ion-icon>
                    </span>
                </div>

                <div class="field">
                    <label class="label">Image</label>
                    <div class="control">
                        <input class="input" type="url" id="image" name="image" placeholder="Optional link to image">
                    </div>
                    <p class="help">
                        Can be a screenshot of a discussion or a relevant image to the leak
                    </p>
                    <span class="icon is-hidden-touch has-tooltip-multiline" data-tooltip="You can DM the image to a bot on&NewLine;Discord and then copy the URL">
                        <ion-icon class="ion-ionic" name="help-circle-outline"></ion-icon>
                    </span>
                    <p class="help is-hidden-desktop">You can DM the image to a bot on Discord and then copy the URL</p>
                </div>

                <div class="field">
                    <label class="label">Time</label>
                    <div class="control">
                        <input class="input" type="datetime-local" id="leakTime" name="leakTime" required>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button id="submit" class="button is-link" onclick="post()" disabled>Submit</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="preview" class="column is-invisible is-hidden-touch">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p id="leakPreview">
                    </p>
                    <time id="timeToSet" datetime=""></time>
                    <span> - </span>
                    <strong>{{.user.Username}}#{{ .user.UserDiscriminator }}</strong>
                    <span> - </span>
                    <a id="source" target="_blank" class="has-text-danger" rel="noopener">Source</a>
                </div>
            </div>

            <div class="card-image is-hidden">
                <figure class="image">
                    <img id="previewImage"
                         src=""
                         alt="Leak Image">
                </figure>
            </div>
        </div>
    </div>
</div>
<script src="/static/bbcode-config.js"></script>
<script defer src="/static/bbcode-parser.js"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    parserTags["youtube"] = {
        openTag: function(params,content) {

            let yid = content;

            return `<figure class="image"><iframe frameborder="0" style="height:max(225px,100%); width:min(100%,400px);" allowfullscreen src="https://www.youtube.com/embed/${yid}">`;
        },
        closeTag: function(params,content) {
            return "</iframe></figure>";
        },
        content: function(params,content) {
            return "";
        }
    }

    let LeakTime = new Date();
    const User = "{{.user.UID}}";
    let Link = "";
    let Leak = "";
    let Image = "";

    const postError = "true" === "{{.errorPublishing}}"
    const postSuccess = "true" === "{{.publishSuccess}}"

    const inputTime = $("input#leakTime");
    const inputLink = $("input#link");
    const linkInfo = $("p#linkInfo");
    const submitButton = $("button#submit");
    const inputLeak = $("textarea#leak");
    const inputImage = $("input#image");
    const preview = $("div#preview");

    LeakTime.setSeconds(0);
    LeakTime.setMilliseconds(0);
    $("time#timeToSet").attr("datetime", LeakTime.toISOString());

    $(document).ready(function () {
        setTimeVal(inputTime, LeakTime);

        inputTime.change(() => {
            preview.removeClass("is-invisible");
            LeakTime = timeChange(inputTime, $("time#timeToSet"));
            formReady();
        });

        inputLink.on("input", () => {
            preview.removeClass("is-invisible");
            Link = linkChange(inputLink, linkInfo, $("a#source"), AllowedLinks({{.payload.allowed_links}}));
            formReady();
        });

        inputLeak.on("input", () => {
            preview.removeClass("is-invisible");
            Leak = leakChange(inputLeak, $("p#leakPreview"),
                val=>{return BBCodeParser.process(val.replaceAll("\n", "<br>"))});
            formReady();
        })

        inputImage.on("input", () => {
            preview.removeClass("is-invisible");
            imageChange(inputImage, $("img#previewImage")).then(r => {
                Image = r
            });
            formReady();
        })
    });

    function formReady() {
        submitButton.prop("disabled", true);
        let linkValid =
            //{{ if ge .user.AuthLevel $linkLess }}
            true;
        //{{else}}
        Link;
        //{{end}}
        if (Leak && LeakTime && User && linkValid) {
            submitButton.prop("disabled", false);
        }
    }

    function post() {
        let form = $('<form></form>');

        form.attr("method", "post");
        form.addClass("is-hidden");
        form.attr("action", "/leaks/create");

        $.each({
            description: Leak,
            time: LeakTime.getTime(),
            image_url: Image,
            source_url: Link
        }, function (key, value) {
            let field = $('<input></input>');
            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);

            form.append(field);
        });

        $(document.body).append(form);
        form.submit();
    }

    if (postError) {
        window.addEventListener('load', function () {
            Leak = "{{.payload.description}}"
            LeakTime = new Date(parseInt("{{.payload.time}}"))
            Image = "{{.payload.image_url}}"
            Link = "{{.payload.source_url}}"
            if (isNaN(LeakTime.getTime())) {
                LeakTime = new Date()
            }
            setTimeVal(inputTime, LeakTime);
            inputLink.val(Link);
            inputLeak.val(Leak);
            inputImage.val(Image);

            LeakTime = timeChange(inputTime, $("time#timeToSet"));
            Link = linkChange(inputLink, linkInfo,  $("a#source"),AllowedLinks({{.payload.allowed_links}}));
            Leak = leakChange(inputLeak, $("p#leakPreview"), val=>{return BBCodeParser.process(val.replaceAll("\n", "<br>"))});
            imageChange(inputImage, $("img#previewImage")).then(r => {
                Image = r
            });
            formReady();
        });

        console.log("returned from error");
        let err = `
        {{.payload.error}}
        `
        console.error(err)
    }
</script>
<script src="/static/convertTime.js"></script>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}