<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
{{$viewing:=.payload.user}}
{{$viewer:=.user}}

<section class="section">
    {{if .is_logged_in}}
        {{ if (ge $viewer.AuthLevel 2)}}
            <div class="level">
                <div class="level-left">
                    <div class="buttons level-item">
                        <button class="button is-info" id="reload" onclick="reloadCache()">
                            reload cache
                        </button>
                        {{ if ne $viewer.UID $viewing.UID}}
                            <button id="cPost"
                                    class="button is-danger {{- if not $viewing.PostingPrivilege}} is-light{{end}}"
                                    onclick="togglePosting()">
                                {{if $viewing.PostingPrivilege}}
                                    revoke posting privileges
                                {{else}}
                                    grant posting privileges
                                {{end}}
                            </button>
                        {{end}}
                    </div>
                </div>
                {{ if ne $viewer.UID $viewing.UID}}
                    <div class="level-right">
                        <div class="buttons has-addons level-item">
                            {{makeButtonList $viewer.AuthLevel $viewing.AuthLevel}}
                        </div>
                    </div>
                {{end}}
            </div>
        {{end}}
    {{end}}
    <div class="columns">
        <div class="column is-offset-1-desktop is-5-fullhd is-8">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ $viewing.AvatarUrl }}?size=128">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p class="is-size-4 is-size-6-mobile">
                            <strong>{{$viewing.Username}}</strong><small>#{{$viewing.UserDiscriminator}}</small>
                            <br>
                            <i>{{$viewing.UID}}</i>
                            <br>
                            authorization level {{authLevelName $viewing.AuthLevel}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns {{/* is-vcentered */ -}} is-multiline is-centered">
        {{range .payload.leaksMade}}
            <div class="column">
                <div class="box">
                    <article class="media">
                        {{ if .ImageUrl}}
                            <figure class="media-left">
                                <a class="image is-64x64" href="/leaks/leak/{{.ID}}">
                                    <img src="/api/v1/image?id={{.ID}}&width=64">
                                </a>
                            </figure>
                        {{end}}
                        <div class="media-content" style="min-width: 170px;">
                            <div class="content">
                                <a href="/leaks/leak/{{.ID}}">
                                    <strong>{{.Title}}</strong>
                                    <br>
                                    {{.Summary | replace "\n" "<br>" | unescape}}
                                </a>
                            </div>
                        </div>

                    </article>
                    <div class="level is-size-7">
                        <div class="level-left">
                        </div>
                        <div class="level-right">
                            <figure class="is-hidden-touch">
                                <time datetime="{{.LeakTime}}"></time>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</section>
<script>
    const viewerID = "{{$viewing.UID}}"
</script>
<script src="/static/convertTime.js"></script>
<script src="/static/pageJS/profile.js"></script>

{{ template "footer.html" .}}