<script type="text/javascript" src="https://static.shalit.name/IEDestroy.js"></script>
<noscript>
    <p>Please enable javascript x_x</p>
    <style>
        #content {
            display: none;
        }
    </style>
</noscript>
